@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2f2e2e;
  background-color: #f7f6f7;
}

.containeer {
  inline-size: 95%;
  block-size: 100vh;
  margin: auto;
}

.no-scrollbar{
  scrollbar-width: none;
}

.form-input {
  @apply p-4 border-2 border-[#7b7a7b] rounded-xl shadow shadow-[#010100] outline-none
}

.sidebar-link {
  @apply hover:bg-[#f26e56] hover:text-[#fefeff] w-full text-center p-2 font-medium rounded-lg
}

.sidebar-link-active {
  @apply text-[#fefeff] bg-[#f26e56] w-full text-center p-2 font-medium rounded-lg
}